@charset "utf-8";
/* CSS Document */
.table_f_td
{
	background-color:#060;
	font-size:20px;
	text-align:center;
	font-family:"微軟正黑體";
	font-weight:bold;
	color:#FFF
}
.table_s_td
{
	background-color:#CCC;
	font-size:20px;
	text-align:center;
	font-family:"微軟正黑體";
	font-weight:bold;
}
.detail_table_th
{
	color:#FFF;
	font-weight:bold;
	background:#06C;
	font-size:20px;
	
}
.maintbody { display: block;
    height: 500px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;   }
*額外做顏色，沒有什麼意義*/
tr.tr-only-hide {color: #D20B2A;}

@media (max-width: 736px) {
  .table-rwd{min-width: 100%;}
  /*針對tr去做隱藏*/
  tr.tr-only-hide {display: none !important;}
  /*讓tr變成區塊主要讓他有個區塊*/
  .table-rwd tr{
    display: block;
    border: 1px solid #ddd;
    margin-top: 5px;
  }
  .table-rwd td {
    text-align: left;
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    display: block;
	}
	.table-rwd td:before {
    /*最重要的就是這串*/
    content: attr(data-th) " : ";
    /*最重要的就是這串*/
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
	margin-right: 10px;
    color: #D20B2A;
  }
  /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
  .table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{border:0;}
  
}